{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {

  background-color: #fff;
  color: #10182f;
}


</style>




<div class="container1blog containerblog">

    <a href="{% url 'blogs:blog2' %}">
        <div class="card-blog">
      <div class="card-blog-header">
        <img loading="lazy" src="{% static 'images/blogs/blog1.jpg' %}" alt="rover" />
      </div>
      <div class="card-blog-body">
        <span class="tag tag-teal">Technology</span>
        <h4>
            Unlocking Your College Network: 
        </h4>
        <p>
            Build Connections That Matter
        </p>
        <div class="user">
          <img loading="lazy" src="{% static 'images/team/himanshu.jpg' %}" alt="user" />
          <div class="user-info">
            <h5>Himanshu Shekhar</h5>
            <small>2h ago</small>
          </div>
        </div>
      </div>
    </div>
</a>

    <a href="{% url 'blogs:blog1' %}">
        <div class="card-blog">        
            <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog2.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            Level Up Your College Journey: </h4>
          <p>
            Essential Resources at Your Fingertips           </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>


    <a href="#">
      <div class="card-blog">
        <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog3.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            From Freshman to Graduate:           </h4>
          <p>
            Navigating College with Confidence
          </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>


    <a href="#">
      <div class="card-blog">
        <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog4.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            Beyond the Classroom:         </h4>
          <p>
            College Connect - Where Collaboration Thrives  
          </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>


    <a href="#">
      <div class="card-blog">
        <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog5.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            Crushing College Applications:          </h4>
          <p>
            Get Matched with the Perfect Program 
          </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>


    <a href="#">
      <div class="card-blog">
        <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog6.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            From Dorm Room to Dream Job:         </h4>
          <p>
            Your Career Launchpad Starts Here  
          </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>


    <a href="#">
      <div class="card-blog">
        <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog7.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            More Than Grades: 
        </h4>
          <p>
            Building a Support System for Academic Success 
          </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>



    <a href="#">
      <div class="card-blog">
        <div class="card-blog-header">
          <img loading="lazy" src="{% static 'images/blogs/blog8.jpg' %}" alt="ballons" />
        </div>
        <div class="card-blog-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            From Coast to Coast (or Across the Globe):          </h4>
          <p>
            Connect with Your College Community 
          </p>
          <div class="user">
            <img loading="lazy" src="{% static 'images/team/amsanjeev.jpg' %}" alt="user" />
            <div class="user-info">
              <h5>A M Sanjeev</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
</a>


    <a href="#">
      <div class="card-blog">
      <div class="card-blog-header">
        <img loading="lazy" src="{% static 'images/blogs/blog9.jpg' %}" alt="city" />
      </div>
      <div class="card-blog-body">
        <span class="tag tag-pink">Design</span>
        <h4>
            College Connect:         </h4>
        <p>
            Your Partner in Empowering the Next Generation         </p>
        <div class="user">
            <img loading="lazy" src="{% static 'images/team/akarsh.jpg' %}" alt="user" />
          <div class="user-info">
            <h5>Akarsh Kumar</h5>
            <small>1w ago</small>
          </div>
        </div>
      </div>
    </a>


</div>



{% endblock %}
