{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect And Collaborate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  </head>

  <body class="main-body">

    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
            </a>
        </div>
        
      <div class="navbar-links">
        <div class="dropdown">
          <a href="">About Us</a>
          <div class="dropdown-content">
            <a href="{% url 'about' %}">Team</a>
            <a href="#">Mission</a>
            <a href="#">Blog/News</a>
            <a href="#">Partnership</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="">Features</a>
          <div class="dropdown-content">
            <a href="{% url 'social:feeds_view' %}">Social Networking</a>
            <a href="{% url 'career:academic' %}">Academic Resources</a>
            <a href="{% url 'career:jobs' %}">Career Development</a>
            <!-- <a href="#">User Engagement</a> -->
          </div>
        </div>
        <div class="dropdown">
          <a href="">Get Involved</a>
          <div class="dropdown-content">
            <a href="#">Support</a>
            <a href="#">Feedback/Survey</a>
            <a href="#">Alumni Network</a>
            <a href="#">User Dashboard</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="">Contact Us</a>
          <div class="dropdown-content">
            <a href="#">Contact Information</a>
            <a href="#">FAQ</a>
            <a href="#">Help/Support</a>
          </div>
        </div>
      </div>
      <div class="navbar-icons">
        <div class="search-icon">
          <i class="material-icons" style="font-size: 1.8rem;">search</i>
        </div>
        <div class="notification-icon">
          <i class="material-icons" style="font-size: 1.8rem;">notifications</i>
        </div>

        <div class="dropdown">
          {% if user.is_authenticated %}
            <div class="user-profile">
        <!-- profile.html -->

        {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
        {% else %}
        <img src="/media/profile_pics/default_profile_picture.jpg" alt="Default Profile Picture" class="profile-picture">
        {% endif %}


            </div>
          {% else %}
            <a class="login-text" href="{% url 'user:signin' %}">Login</a>
          {% endif %}

          {% if user.is_authenticated %}
            <div class="dropdown-content" style="margin-left:-50px;">
              <a href="{% url 'user:profile' %}">Profile</a>
              <a href="{% url 'user:signout' %}">Logout</a>
            </div>
          {% else %}
            <div class="dropdown-content" style="margin-left:-50px;">
              <a href="{% url 'user:signin' %}">Login</a>
              <a href="{% url 'user:signup' %}">Signup</a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>


    <div class="home" id="home">
      <div class="background-image">
        <img src="{% static 'images/background.png' %}" alt="background image" class="bg-image" />
      </div>
      <div class="button-container">
        <a href="{% url 'user:signin' %}" class="learn-more-button">Join For Free</a>
        <a href="{% url 'user:signin' %}" class="learn-more-button">Learn More</a>
      </div>
    </div>
    <!--  -->
    <div class="page-change"></div>
    <!--  -->
    {% comment %} why college connect --> {% endcomment %}
    <div class="whyCC" id="whyCC">
      <br /><br />
      <h1 class="heading">Why College Connect?</h1>
      <br /><br /><br /><br /><br />
      <div class="boxes">
        <div class="square-boxes">
          <div class="upper-row">
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Seamless Connection</h3>
                <p>Join a vibrant community of students, connect, and collaborate on your academic and personal endeavors.</p>
              </div>
            </div>
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Academic Resources</h3>
                <p>Access lecture notes, study materials, and more to excel in your studies.</p>
              </div>
            </div>
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Career Development</h3>
                <p>Build your path to success with job listings, resume builders, and mentorship.</p>
              </div>
            </div>
            <div class="lower-boxes">
              <div class="box-content">
                <h3>P2P Tutoring</h3>
                <p>Get one-on-one support from your peers to ace your courses.</p>
              </div>
            </div>
          </div>
          <div class="lower-row">
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Campus Community</h3>
                <p>Stay updated with campus events and engage with your fellow students.</p>
              </div>
            </div>
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Student Organisation</h3>
                <p>Join clubs and organizations, or create your own groups.</p>
              </div>
            </div>
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Multilingual Support</h3>
                <p>Ensuring inclusivity and accessibility for all students.</p>
              </div>
            </div>
            <div class="lower-boxes">
              <div class="box-content">
                <h3>Virtual Study Groups</h3>
                <p>Collaborate seamlessly with peers on projects, assignments, and study sessions using our robust messaging and video conferencing capabilities.</p>
              </div>
            </div>
          </div>
        </div>
        <a>
          <div class="rectangle-box">
            <p class="explore-text">EXPLORE ALL</p>
          </div>
        </a>
      </div>
    </div>
    <!--  -->
    <div class="page-change"></div>
    <!--  -->
    {% comment %} featured events  {% endcomment %}
    <div class="featured-events" id="featured-events">
      <br /><br />
      <h1 class="heading">Featured Events</h1>
      <br /><br /><br />
      <div class="featured-boxes">
        <div class="box-container" id="box-container">
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Build With GKV</h3>
              <p>Build your path to success with job listings, resume builders, and mentorship.</p>
            </div>
            <div class="box-content-featured-img"><img style="position:relative; top:-20px; padding-bottom: 20px;" src="{% static 'images/BuildWithGkv.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
                <h3>Professor Power Panel            </h3>
                <p>Listen to professors discuss their research and career paths.
              </p> 
            </div>
            <div class="box-content-featured-img"> 
                <img style="padding-bottom: 20px;" src="{% static 'images/Pop.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy">
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Book Worms</h3>
              <p> Dive into a world of stories</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:20px; padding-bottom: 20px;" src="{% static 'images/BookWorms.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Careerathon</h3>
              <p>Build your path to success with job listings, resume builders, and mentorship.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px;" src="{% static 'images/Careerathon.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Movie Marathon Mania</h3>
              <p>Settle in for a night of classic and cult-favorite films</p>
            </div>
            <div class="box-content-featured-img"> <img style=" padding-bottom: 20px;" src="{% static 'images/mvm.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Open Mic</h3>
              <p>Engage with your fellow students.</p>
            </div>
            <div class="box-content-featured-img"> <img style=" padding-bottom: 20px;" src="{% static 'images/openmic.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Campus Comedy Night</h3>
              <p>Enjoy stand-up routines from local comedians and fellow students.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px;" src="{% static 'images/cmc.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Jnanagni</h3>
              <p>Stay updated with events.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:20px; padding-bottom: 20px;" src="{% static 'images/jnanagni.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
              <h3>Artsy Affair</h3>
              <p>Showcase your creative talents in an art competition or exhibition.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px;" src="{% static 'images/artsy.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="box">
            <a href="#">
            <div class="box-content-featured">
                <h3>Career Closet</h3>
                <p>Stock up on professional attire for free and get interview tips.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:0px; padding-bottom: 20px;" src="{% static 'images/careercloset.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div>        
          </a>
          </div>
        </div>
        <div class="dot-container">
          <div class="dot" onclick="showBoxes(0)"></div>
          <div class="dot" onclick="showBoxes(1)"></div>
          <div class="dot" onclick="showBoxes(2)"></div>
        </div>
        <a>
          <div class="rectangle-feature">
            <h3>EXPLORE ALL</h3>
          </div>
        </a>
        <br /><br />
      </div>

      <script>
        // Store the original content of each box
        const originalContent = Array.from(document.getElementsByClassName('box')).map((box) => box.innerHTML)
        
        function showBoxes(index) {
          const container = document.getElementById('box-container')
          const boxes = container.getElementsByClassName('box')
          const start = index * 3
        
          for (let i = 0; i < boxes.length; i++) {
            const dataIndex = start + i
        
            // Restore the original content for each box
            boxes[i].innerHTML = originalContent[dataIndex]
          }
        }
      </script>
    </div>

    <!--  -->
    <div class="page-change"></div>
    <!--  -->

    <!-- Upcoming Events -->
    <div class="upcoming-events" id="upcoming-events">
      <br /><br />
      <h1 class="heading">Upcoming Events</h1>
      <br />
      <div class="upcoming-boxes">
        <div class="upcoming-box-container" id="upcoming-box-container">
          <div class="upcoming-box">
            <a href="#">
            <div class="upcoming-box-content">
              <h3>Career Closet</h3>
              <p>Stock up on professional attire for free and get interview tips.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:0px; padding-bottom: 20px;" src="{% static 'images/careercloset.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Movie Marathon Mania</h3>
              <p> Settle in for a night of classic and cult-favorite films</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:0px; padding-bottom: 20px;" src="{% static 'images/mvm.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Campus Comedy Night            </h3>
              <p> Enjoy stand-up routines from local comedians and fellow students.
            </p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px; " src="{% static 'images/cmc.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Movie Marathon Mania</h3>
              <p> Settle in for a night of classic and cult-favorite films.
            </p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:0px; padding-bottom: 20px; " src="{% static 'images/mvm2.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Volunteer Fair            </h3>
              <p>Find your cause and connect with community service opportunities.
            </p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px; "  src="{% static 'images/vf.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Wellness Workshop</h3>
              <p> Learn stress-management techniques and healthy living tips.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px; "  src="{% static 'images/ww.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Artsy Affair            </h3>
              <p>Showcase your creative talents in an art competition or exhibition.
            </p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px; "  src="{% static 'images/artsy.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Game On!            </h3>
              <p> Challenge your friends to a video game tournament or board game night.
            </p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px; " src="{% static 'images/gameon.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
              <h3>Professor Power Panel            </h3>
              <p>Listen to professors discuss their research and career paths.
            </p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:0px; padding-bottom: 20px;" src="{% static 'images/Pop.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
          <div class="upcoming-box">
            <a href="#">            <div class="upcoming-box-content">
                <h3>Campus Comedy Night</h3>
                <p>Enjoy stand-up routines from local comedians and fellow students.</p>
            </div>
            <div class="box-content-featured-img"> <img style="position:relative; top:-20px; padding-bottom: 20px;" src="{% static 'images/cmc.jpg' %}" alt="background image" class="bg-image box-image" loading="lazy" />
            </div></a>
          </div>
        </div>

        <div class="upcoming-dot-container">
          <div class="upcoming-dot" onclick="showUpcomingBoxes(0)"></div>
          <div class="upcoming-dot" onclick="showUpcomingBoxes(1)"></div>
          <div class="upcoming-dot" onclick="showUpcomingBoxes(2)"></div>
        </div>

        <a>
          <div class="rectangle-feature rectangle-feature-upcoming">
            <h3>EXPLORE ALL</h3>
          </div>
        </a>
        <br /><br />
      </div>
    </div>

    <script>
      // Store the original content of each upcoming box
      const upcomingOriginalContent = Array.from(document.getElementsByClassName('upcoming-box')).map((box) => box.innerHTML)
      
      function showUpcomingBoxes(index) {
        const upcomingContainer = document.getElementById('upcoming-box-container')
        const upcomingBoxes = upcomingContainer.getElementsByClassName('upcoming-box')
        const start = index * 3
      
        for (let i = 0; i < upcomingBoxes.length; i++) {
          const dataIndex = start + i
      
          // Restore the original content for each upcoming box
          upcomingBoxes[i].innerHTML = upcomingOriginalContent[dataIndex]
        }
      }
    </script>



    {% comment %} <!-- STUDY GROUPS --> {% endcomment %}

<div class="study" style="background-color: white; padding-bottom:40px;">



    {% comment %} <div class="page-change"></div> {% endcomment %}
    <!--  -->
    <br /><br />





    <div class="study-groups">
        <h1 class="heading">Join <span class="study-groups-h1" style="color:#ff3131">Study Groups</span></h1>
        <br /><br /><br />

      <div class="search-bar">
        {% comment %} <input type="text" placeholder="Search Study Groups To Join" />
        <button><i class="material-icons">search</i></button> {% endcomment %}


        <div class="study-groups-icons">
            <div class="study-groups-icon" style="background-color: #d2d1cd;">
                <div class="icon-container">
                    <img src="{% static 'images/icons/ActiveLearner.jpg' %}" alt="Active Learners" class="icon" />
                </div>

                <div class="group-content"><h3>3M+</h3>
                <p>Active Learners</p></div>
            </div>
            <div class="study-groups-icon" style="background-color: #b7b7b7;">
                <div class="icon-container">
                    <img src="{% static 'images/icons/StudyGroupMembers.jpg' %}" alt="Study Group Members" class="icon" />
                </div>
                <div class="group-content"><h3>2M+</h3>
                <p>Study Group Members</p></div>
            </div>
            <div class="study-groups-icon" style="background-color: #BFC3C4;">
                <div class="icon-container">
                    <img src="{% static 'images/icons/StudyMaterialsShared.jpg' %}" alt="Study Topics" class="icon" />
                </div>
                <div class="group-content"><h3>5M+</h3>
                <p>Study Materials Shared</p></div>
            </div>
            <div class="study-groups-icon" style="background-color: #cfceca;">
                <div class="icon-container">
                    <img src="{% static 'images/icons/GlobalLocations.jpg' %}" alt="Qualified Moderators" class="icon" />
                </div>
                <div class="group-content"><h3>100+</h3>
                <p>Global Locations</p></div>
            </div>
            <div class="study-groups-icon" style="background-color: #bcc1c4;">
                <div class="icon-container">
                    <img src="{% static 'images/icons/EngagementRate .jpg' %}" alt="Study Materials Shared" class="icon" />
                </div>
                <div class="group-content"><h3>99%</h3>
                <p>Engagement Rate</p></div>
            </div>
        </div>

      
        </div>
        

          <script>

            const icons = document.querySelectorAll('.study-groups-icon img.icon');

            icons.forEach(icon => {
            icon.addEventListener('mouseenter', () => {
                icon.style.transform = 'translateX(20%)'; /* Adjust for desired movement */
            });

            icon.addEventListener('mouseleave', () => {
                icon.style.transform = 'translateX(0)';
            });
            });


          </script>

      </div>
    </div>
    <br /><br />
    <div class="study-home-buttons">

      <a href="{% url 'social:search_group' %}"><button class="my-groups-button">My Groups</button></a>
      <a href="{% url 'social:feeds_view' %}"><button class="virtual-sessions-button">Campus Community</button></a>
    </div>

</div>

    <br /><br /><br /><br />

    <div class="testimonials">
      <br /><br />
      <h1 class="heading">User Testimonials</h1>
      <h2 style="font-weight:bold;margin:-20px 0px 0px 115px; ">User stories: <span class="study-groups-h1" style="color:#ff3131">the heartbeat of College Connect techBridge.</span></h2>
      <br /><br />
      <br /><br />

      <div class="user-testimonials">


        <div class="testimonial1">          
          <div class="testimonial-box">
            <img src="{% static 'images/testimonialProfiles/testimonial1.jpg' %}" alt="Default Profile Picture" class="profile-picture-testimonial profile-picture">
            <p class="testimonial-name">A M Sanjeev</p>
            <p class="testimonial-college">Gurukula Kangri Deemed To Be University</p>
            <p class="review">I am incredibly grateful for the support I received from this community. The study groups have been a game-changer for me, providing a collaborative and engaging environment for learning. The resources available have been instrumental in my academic success, and the virtual study sessions have allowed me to connect with peers worldwide. The platform is user-friendly, making it easy to find study groups tailored to my needs. The diverse range of study materials has enriched my learning experience. Overall, joining this community has positively impacted my educational journey, and I highly recommend it to anyone seeking academic support and camaraderie</p>
          </div>
        </div>

        <div class="testimonial2">          
          <div class="testimonial-box">
              <img src="{% static 'images/testimonialProfiles/testimonial2.jpg' %}" alt="Default Profile Picture" class="profile-picture-testimonial profile-picture">
            <p class="testimonial-name">Himanshu Shekhar</p>
            <p class="testimonial-college">Gurukula Kangri Deemed To Be University</p>
            <p class="review">I'm deeply thankful for the community's assistance. Study groups have transformed my learning experience, fostering collaboration and excitement. The available resources played a key role in my academic achievements, while virtual sessions connected me globally. The user-friendly platform tailored to my needs is a standout. Diverse study materials enhanced my learning journey. Joining this community has profoundly enriched my education, and I wholeheartedly endorse it for academic support and companionship.</p>
          </div>
        </div>

        <div class="testimonial3">          
          <div class="testimonial-box">
            <img src="{% static 'images/testimonialProfiles/testimonial3.jpg' %}" alt="Default Profile Picture" class="profile-picture-testimonial profile-picture">
            <p class="testimonial-name">Akarsh Kumar Pandey</p>
            <p class="testimonial-college">Gurukula Kangri Deemed To Be University</p>
            <p class="review">I'm immensely thankful for the backing I found in this community. The study groups revolutionized my approach to learning, fostering collaboration and interaction. The abundance of resources played a pivotal role in my academic achievements, while virtual study sessions facilitated global connections. The platform's user-friendliness ensured personalized study group discovery. Diverse study materials enhanced my learning journey. Overall, joining this community significantly enriched my education, and I wholeheartedly endorse it for academic support and companionship.</p>
          </div>
        </div>


      </div>


      <br /><br /><br />
    </div>


    <script>
      let currentIndex = 0
      const testimonials = document.querySelector('.testimonial-container')
      
      function showTestimonial(index) {
        currentIndex = index
        const translateValue = -index * 100 + '%'
        testimonials.style.transform = 'translateX(' + translateValue + ')'
      }
      
      function nextTestimonial() {
        currentIndex = (currentIndex + 1) % testimonials.children.length
        showTestimonial(currentIndex)
      }
      
      function prevTestimonial() {
        currentIndex = (currentIndex - 1 + testimonials.children.length) % testimonials.children.length
        showTestimonial(currentIndex)
      }
    </script>




    <!-- Updated Footer HTML -->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3 class="footer-h">Contact Us</h3>
          <p>Email: info@collegeconnect.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="footer-section">
          <h3 class="footer-h">Quick Links</h3>
          <ul>
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About Us</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">Get Involved</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms of Service</a>
            </li>
          </ul>
        </div>
        <div class="footer-section">
          <h3 class="footer-h">Explore</h3>
          <ul>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Events</a>
            </li>
            <li>
              <a href="{% url 'social:search_group' %}">Groups</a>
            </li>
          </ul>
        </div>
        <div class="footer-section">
          <h3 class="footer-h">Resources</h3>
          <ul>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 Connect and Collaborate | All rights reserved by Connect and Collaborate</p>
      </div>
    </footer>
  </body>
</html>
