{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />


<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Include Google's official CSS for the sign-in button -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">





{% comment %} <body class="custom-body-profile">

    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo-image">
            </a>
        </div>
    </nav>

    <div class="create-profile-content">
        <form method="post" enctype="multipart/form-data" class="custom-form">
            {% csrf_token %}
            <h2 class="custom-h2">Create Your Profile</h2>
            
            <section class="custom-section">
                <label for="{{ form.first_name.id_for_label }}" class="custom-label">First Name:</label>
                {{ form.first_name }}
                
                <label for="{{ form.last_name.id_for_label }}" class="custom-label">Last Name:</label>
                {{ form.last_name }}
                
                <label for="{{ form.date_of_birth.id_for_label }}" class="custom-label">Date of Birth:</label>
                {{ form.date_of_birth }}
                
                <label for="{{ form.gender.id_for_label }}" class="custom-label">Gender:</label>
                {{ form.gender }}
            </section>
            
            <section class="custom-section">
                <label for="{{ form.bio.id_for_label }}" class="custom-label">Bio (max 50 words):</label>
                {{ form.bio }}

                <label for="{{ form.university_name.id_for_label }}" class="custom-label">University Name:</label>
                {{ form.university_name }}
                
                <label for="{{ form.college_name.id_for_label }}" class="custom-label">College Name:</label>
                {{ form.college_name }}
                
            </section>
            
            <section class="custom-section">
                <label for="{{ form.registration_id.id_for_label }}" class="custom-label">Registration ID:</label>
                {{ form.registration_id }}

                <label for="{{ form.course.id_for_label }}" class="custom-label">Course:</label>
                {{ form.course }}
                
                <label for="{{ form.department.id_for_label }}" class="custom-label">Department:</label>
                {{ form.department }}

                <label for="{{ form.profile_picture.id_for_label }}" class="custom-label">Profile Picture:</label>
                {{ form.profile_picture }}
            </section>
            
            <button type="submit" class="custom-button">Submit</button>
        </form>
    </div>
</body> {% endcomment %}


<body class="custom-body-profile">      
      
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo-image">
            </a>
        </div>
        
        <div class="navbar-links">

            <div class="notification-home">
                <a href="{% url 'home' %}">
                    <i class="material-icons" style="font-size: 1.8rem; margin-top:-3px;">home</i>
                </a>
            </div>

            <div class="dropdown">
                {% if user.is_authenticated %}
                    <div class="user-profile">
                        {% if user.userprofile.profile_picture %}
                            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                        {% else %}
                            <img src="{% static 'images/default_profile/Gemini_Generated_Image (39).jpg' %}" alt="Default Profile Picture" class="profile-picture">
                        {% endif %}
                    </div>
                        
                {% else %}
                    <a class="login-text" href="{% url 'user:signin' %}">Login</a>
                {% endif %}
    
                {% if user.is_authenticated %}
                    <div class="dropdown-content" style="margin-left:-40px;">
                        <a href="{% url 'user:signout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="dropdown-content" style="margin-left:-40px;">
                        <a href="{% url 'user:signin' %}">Login</a>
                        <a href="{% url 'user:signup' %}">Signup</a>
                    </div>
                {% endif %}
            </div>  
        </div>
    </nav>
    <h2 class="custom-h2">Create Your Profile</h2>

    <div class="create-profile-content">

        <form method="post" enctype="multipart/form-data" class="custom-form">
            {% csrf_token %}
            
            <div class="custom-section">
                <label for="id_first_name" class="custom-label">First Name: {{ form.first_name }}</label>

                <label for="id_last_name" class="custom-label">Last Name: {{ form.last_name }}</label>

                <label for="id_date_of_birth" class="custom-label">Date of Birth: {{ form.date_of_birth }}</label>

                <label for="id_gender" class="custom-label">Gender: {{ form.gender }}</label>
            </div>

            <div class="custom-section">
                <label for="id_bio" class="custom-label">Bio (max 50 words): {{ form.bio }}</label>

                <label for="id_university_name" class="custom-label">University Name: {{ form.university_name }}</label>

                <label for="id_college_name" class="custom-label">College Name: {{ form.college_name }}</label>
            </div>

            <div class="custom-section">
                <label for="id_registration_id" class="custom-label">Registration ID: {{ form.registration_id }}</label>

                <label for="id_course" class="custom-label">Course: {{ form.course }}</label>

                <label for="id_department" class="custom-label">Department: {{ form.department }}</label>

                {% comment %} <label for="id_profile_picture" class="custom-label">Profile Picture: {{ form.profile_picture }}</label> {% endcomment %}
            
                <div class="profile-picture-wrapper">
                    {% comment %} {{ form.profile_picture }} {% endcomment %}

                    <label for="id_profile_picture" class="custom-label">Profile Picture: {{ form.profile_picture }}</label>

                </div>

            
            </div>
            
            <button type="submit" class="custom-button">Submit</button>
        </form>


        

    </div>
</body>