* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ff3131;
}

.user-profile>p {
    font-size: 25px;
    color: #fff;
    margin: 0;
    /* Remove the default margin */
}

a {
    text-decoration: none;
    color: #fff;
}

.background-image {
    position: relative;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position: absolute; */
    /* width: calc(100% - 40px); */
    width:100%;
    z-index: 9999;
    margin: 20px;
    color: white;
    position: fixed;
    top: -20px;
    left:-20px;
    background-color: #ff3131;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    height:100px;
}



.logo-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.navbar-links {
    display: flex;
    gap: 40px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #d6d6d6;
}

.navbar-icons {
  display: flex;
  gap: 55px;
  align-items: center;
}

.navbar-icons>* {
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    width:max-content;
    display: none;
    position: absolute;
    background-color: #ff313f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
    border-radius: 3px;
    margin-left: -5px;
    margin-top: 2px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s;
    font-size: 20px;
    padding:5px;
    border-bottom:1px solid #d6d6d6;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
}  

  

/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .navbar-icons {
        flex-wrap: wrap;
    }

    .navbar-icons>* {
        flex: 1 1 100%;
    }
}

/*  */

.button-container {
    position: absolute;
    bottom: 50px;
    right: 450px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.learn-more-button {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.learn-more-button:hover {
    background-color: #000000;
    color: #ffffff;
}

/* <!-- ------------------------------------NAVBAR --> */


.page-change {
    width: 100%;
    height: 50px;
    background-color: #c7c7c7;
}

.heading {
    font-size: 56px;
    margin-top: 0px;
    margin-left: 110px;
}

/* <!-- ------------------------------------why cc --> */


.whyCC {
    background-color: #ffffff;
    height: 100%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -100px;
    margin-left: 100px;
}

.upper-row,
.lower-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lower-boxes,
.upper-boxes {
    width: 250px;
    height: 250px;
    margin: 10px;
    color: #0078d4;
    background-color: #0078d4;
    transition: transform 0.3s;
}

.lower-boxes:hover,
.upper-boxes:hover {
    transform: scale(1.05);
}

.rectangle-box {
    color: #042d62;
    background-color: #042d62;
    width: 100px;
    height: 520px;
    position: absolute;
    right: 200px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.rectangle-box:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #001735;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    z-index: -999;
    color: #000;
}

.box-content {
    text-align: center;
}

.box-content>h3 {
    margin-bottom: 20px;
    font-size: larger;
}

.box-content>p {
    margin-top: 20px;
    padding: 15px;
    color: #fff;
    text-align: justify;
    font-size: large;
}

.explore-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 35px;
    margin-left: 28px;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
}

/* <!-- ------------------------------------ Featured events --> */
.box-content-featured-img {
    border-radius: 0 0 5px 5px !important;
}

.featured-events {
    background-color: #ff3131;
    height: 100%;
}

.featured-boxes {
    display: flex;
    align-items: left;
    flex-direction: column;
    /* Stack the children vertically */
    margin-top: -60px;
    margin-left: 100px;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    /* Stack the children vertically */
    align-items: center;
}

.box-container {
    display: flex;
    overflow: hidden;
    width: 1330px;
    text-align: center;
}

.box-content-featured-img {
    padding: 5px;
    width: 300px;
    height: 250px;
}

.box {
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    margin: 15px;
    /* Adjust the margin as needed */
    border-radius: 5px;
    transition: transform 0.3s;
}

.box:hover {
    transform: scale(1.03);
}

.dot-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: -120px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.rectangle-feature {
    width: 200px;
    height: 70px;
    background-color: #fff;
    margin-left: 550px;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.3s, background-color 0.3s;
    position: relative;
    /* Added position relative */

}

.rectangle-feature:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #000000;
}

.rectangle-feature h3 {
    transition: color 0.3s;
    /* Add transition property for h3 element */
    color: #000;
    /* Initial color */
    margin-left: 35%;
    margin-top: 15px;
    padding-top: 25px;
    width: 100%;
}

.rectangle-feature:hover h3 {
    color: #fff;
}


.box-content-featured {
    text-align: center;
}

.box-content-featured>h3 {
    margin-bottom: 20px;
    font-size: larger;
}

.box-content-featured>p {
    margin-top: 20px;
    padding: 20px;
    color: #000000;
    text-align: justify;
    font-size: large;
}


.upcoming-events {
    background-color: #ffffff;
    height: 110%;
}

.upcoming-boxes {
    margin-left: 100px;
}

.upcoming-boxes-wrapper {
    display: flex;
    align-items: left;
    flex-direction: column;
    /* Stack the children vertically */
    margin-top: -60px;
    margin-left: 100px;
}

.upcoming-box-container {
    display: flex;
    overflow: hidden;
    width: 1330px;
    text-align: center;
}

.box-content-featured-img {
    padding: 5px;
    width: 300px;
    height: 230px;
}

.upcoming-box {
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    background-color: #ff3131;
    margin: 15px;
    /* Adjust the margin as needed */
    border-radius: 5px;
    transition: transform 0.3s;
}

.upcoming-box:hover {
    transform: scale(1.03);
}

.upcoming-dot-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: -120px;
}

.upcoming-dot {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.upcoming-box-content {
    text-align: center;
}

.upcoming-box-content>h3 {
    margin-bottom: 20px;
    font-size: larger;
}

.upcoming-box-content>p {
    margin-top: 20px;
    padding: 20px;
    color: #000000;
    text-align: justify;
    font-size: large;
}

.rectangle-feature-upcoming {
    border: 1px solid #000 !important;
    /* Adjust the border size and color as needed */
}

.rectangle-feature-upcoming>h3 {
    margin-top: 0 !important;
}

/* ----------------------------------------------------- STUDY GROUPS */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

/* input[type="text"] {
    width: 800px;
    /* Adjust the width as needed */
    padding: 30px;
    /* Increase padding for a larger input */
    font-size: 25px;
    /* Increase font size for better readability */
    border: 4px solid transparent;
    /* Adjust border styles as needed */
    border-radius: 16px;
    /* Adjust border radius for rounded corners */
    outline: none;
} */

button {
    background-color: transparent;
    border: none;
    padding: 30px;
    /* Increase padding for a larger button */
    border-radius: 16px;
    /* Adjust border radius for rounded corners */
    cursor: pointer;
    color: #ffffff;
}

/* .notification-icon{
  width:30px;
  height:0px;
  border:1px solid transparent;
  border-radius:50%;
} */

i.material-icons {
    font-size: 48px;
    /* Increase font size for a larger icon */
}

.study-home-buttons {
    display: flex;
    margin-top: 20px;
    /* Adjust margin as needed */
    margin-left: 100px;
}

.study-home-buttons button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 20px;
}

.study-home-buttons button:hover {
    background-color: #000000;
    color: #ffffff;
}

.study-home-buttons .my-groups-button {
    background-color: #ffffff;
    color: #000;
}

.study-home-buttons .virtual-sessions-button {
    background-color: #ffffff;
    color: #000;
}

.group-content {
    position:relative;
    top:80px;
}

/* ------------------------------------------USER TESTIMONIALS */

.testimonials {
    background-color: #fff;
}

.user-testimonials {
    display:flex;
    padding: 0px 50px 50px 50px;
    text-align:center;
}

.testimonial1, .testimonial2, .testimonial3{
    border:1px solid #f9f9f9;
    margin:10px;
    padding:20px;
    text-align:center;
    background-color:#f9f9f9;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.review{
    text-align:justify;
}

.profile-picture-testimonial{
    margin-left:35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-box>.review {
    text-align: justify;
    padding: 25px;
}

.testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0B0D49;

}

.testimonial-college {
    font-style: italic;
    color: #0B0D49;
}

/* 
.testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial-box {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.testimonial-box>.review {
    text-align: justify;
    padding: 15px 35px 25px 35px;
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonial-college {
    font-style: italic;
    color: #ffffff;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
} */


.study-groups-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.study-groups-icon {
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    transition: box-shadow 0.3s ease; /* Add transition for box shadow */
  }

.study-groups-icon:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Darker box shadow on hover */
}

/* Rest of your existing CSS */

  
.icon-container {
    position: absolute;
    left: -20%; /* Move the icon to the left to hide partially */
    transition: left 0.1s ease-in-out;
}

.study-groups-icon:hover .icon-container, .study-groups-icon:hover {
    left: 0; /* Move the icon to the original position */
}

.icon-container img.icon {
    width: 100px; /* Adjust width for partial visibility */
    height: auto;
    transition: transform 0.9s ease;
    position:absolute;
    left:0px;
}

.study-groups-icon:hover .icon-container img.icon, .study-groups-icon:hover {
    transform: translateX(0); /* Move the icon back to its original position */
}

.study-groups-icon h3 {
  margin-bottom: 2px;
  font-weight: bold;
  color: #000;
  z-index: 999;
}

.study-groups-icon p {
    font-weight: normal;
    color: #000;
    z-index: 999;
    margin-top:-2px;
}

/* ----------------------------------FOOTER */

/* Updated Footer Styles */

.footer {
    background-color: #f0f0f0;
    color: #ffffff;
    padding: 60px 60px 40px 60px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 30px;
    flex: 1 1 250px;
    /* Adjust the width of each section */
}

.footer h3 {
    color: #333333;
    font-weight:bold;
}

.footer p {
    margin: 5px 0;
    color:#5b5b5b
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 15px;
}

.footer-section a {
    color: #5b5b5b;
    text-decoration: none;
}

.footer-section a:hover {
    color: #202020;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.icon {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.icon:hover {
    color: #ff3131;
}

.footer-bottom {
    background-color: #ff3131;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    color: #ffffff;
    margin: 0;
    font-size: 14px;
}

.block-content {
    width: 100%;
    min-height: 700px;
    padding-top: 100px;
}




/* ------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------ABOUT PAGE--------------------------- */

* {
    font-family: sans-serif;
  }

  .team-card-content{
    padding:10px 10px 30px 10px;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    text-align:justify;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .container {
    max-width: 1380px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  
  .team-head-text {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 0px;
    color:#fff;
  }
  
  .name {
    font-size: 18px;
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 700;
  }
  
  .position {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .team-card-container {
    width: 263px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    background-color:#fff;
    padding:20px 40px 100px 40px;
    border-radius:5px;
    height:500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .teamcard-container {
    justify-content: space-evenly;
    margin-bottom:20px;

  }
  
  .team-img-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .team-img {
    max-width: 100%;
    border-radius:5px;
  }
  
  @media (max-width: 500px) {
    .team-card-container {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
      width: 100%;
    }
  
    .team-img {
      width: 100%;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}


/* ppppppppppppppppppppppppppppp */

.team-card-container {
    perspective: 1000px; /* Set perspective for 3D effect */
  } 
  
  .team-card {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d; /* Preserve 3D transformations */
  }
  
  .team-card:hover  {
    transform: rotateY(180deg); /* Flip the card on hover */
  }
  
  .team-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Preserve 3D transformations */
  }
  
  .team-card-front,
  .team-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide both front and back initially */
  }
  
  .team-card-back {
    transform: rotateY(180deg); /* Set back face to be initially rotated */
    background-color: #f0f0f0; /* White background */
    color: #000; /* Black text */
    padding: 20px; /* Add padding for better readability */
  }

  




  /* ---------------------------BUTTONS */
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.contacts li {
    padding: 10px;
    margin: 10px;
    list-style: none;
    color: #000000;
    width: 35px;
    height: 35px;
    background-color: #0078d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contacts li:hover {
    color: #ffffff;
    background-color: #f2234d;
}

.home{
  margin-top:-20px;
    margin-bottom:40px;
    background-color:#fff;
    padding-top:1px;
}











/* ------------------------MISSION________________________________ */


  
.mission-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: -10px 50px 50px 50px;
    margin-top:-20px;
    background-color:#fff;
  }

  h1{
    z-index:9;
  }

  .photo-cluster {
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: max-content;
    overflow: hidden;
  }

  .photo-group {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  }

  .photo-group img {
    width: 110px; 
    height: 110px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: transform 0.5s ease;
  }

  .photo-group img:hover {
    transform: scale(1.2);
  }

  .photo-1 {
    top: 35px;
    left: 10px;
  }

  .photo-2 {
    top: 135px;
    left: 275px;
  }

  .photo-3 {
    top: 35px;
    right:10px;
  }

  .photo-4 {
    top: 185px;
    right: 5px;
  }

  .photo-5 {
    top: 215;
    right: 265px;
  }

  .photo-6 {
      top:185px;
    left: 15px;
  }

  .photo-7 {
      top: 1450px;
    left:35px;
  }

  .photo-8 {
    top: 1475px;
    left: 315px;
  }

  .photo-9 {
      top: 1455px;
    left: 600px;
  }

  .photo-10 {
      top: 1600px;
      left: 0px;
  }

  .photo-11 {
    top: 1625px;
    left: 285px;
  }

  .content-wrapper {
      max-width: 100%;
      text-align: center;
      margin: 0 auto; /* This will center the div horizontally */
    }

  .content-wrapper1 {
      max-width: 100%;
      text-align: center;
      margin-top:350px;
    }

  .content-wrapper2 {
      max-width: 100%;
      text-align: center;
      margin-top:350px;
    }

  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color:#000;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    color:#222222;
  }

  .mission{
    text-align: center;
    justify-content:center;
  }

  .container1-mission{
    margin-top:-200px;
  }


  .underline{
    background-color:#000;
    height:2px;  
    text-align:left;
    justify-content:center;
    margin: -15px 0 0 0; /* Center the underline horizontally */
}

  @media (max-width: 768px) {
    .photo-group img {
      width: 80px; /* Adjust width as needed for smaller screens */
      height: 80px;
    }
  }


      
  .container1-mission {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }



  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    color:#222222;
    font-size: 18px;
}

  ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color:#222222;
  }

  ol {
    text-align: left;
    color:#222222;
  }

  ol li {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .flex-item {
    width: 48%;
  }









  /* ------------------BLOG---------------------------------- */

  .containerblog {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1380px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  .card-blog {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    height:400px;
  }
  .card-blog-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-blog-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
    margin-top:-35px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0 0 15px 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #47bcd4;
  }
  .tag-purple {
    background-color: #5e76bf;
  }
  .tag-pink {
    background-color: #cd5b9f;
  }
  
  .card-blog-body p {
    font-size: 13px;
    margin: 0 0 20px;
  }
  .user {
    display: flex;
  }
  
  .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .user-info h5, h4 {
    margin: 0;
    color:black;
  }
  .user-info small {
    color: #545d7a;
  }
  
  h4, h5, p{
      z-index:9;
  }

  .card-blog:hover{
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
  }

  .card-blog:hover h4 {
    color: #ce0000;
  }