
  .blog {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  
  .blog-head {
    position: relative;
    justify-content:center;
    align-items:center;
    height:130vh; 
  }

  .blogCover{
    justify-content:center;
    align-items:center;
    display: flex;
  }
  
  .blog-head img {
    width:1200px;
    height: 500px;;
    object-fit: cover;
    justify-content:center;
    align-items:center;
    max-width: 100%;
    max-height:100%;
  }
  
  h1,
  p {
    margin: 0;
    color: #fff;
  }
  
  h1 {
    font-size: 2.9em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .header-content{
    margin-top:30px;
    width:1200px;
  }
  
.author-card{
    margin:20px;
    display:flex;
  }

  .author-card-info{
    margin-left:-15px;
  }

  .author-info{
    color:#d7d7d7;
  }

  .topics{
    display:flex;
    width:100%;
  }
  
  .tag{
    position:relative;
    top:100px;
    left:-400px;
    border-radius:30px;
    background-color:#fff;
    margin-left:20px;
    padding:10px;
    width:150px;
    height:40px;
    text-align:center;
    justify-content: center;
    align-items:center;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .tag p{
    color:#ff3131;
    text-transform: lowercase;
  }

  .date-of-blog{
    position:relative;
    top:160px;
    left:-710px;
  }

  .blog-content-bottom {
    flex: 1;
    display: flex;
    background-color: #fff;
  }

  .blog-content-bottom p {
    color:black;
    text-align:justify;

}

.content-wrapper{
  display:flex;
  margin:0 30px;
  width:100%;
}

.table-of-contents{
  width:20% ;
  text-align:left;
  position: sticky;
  top: 100px; /* Stick to the top of the scrollable area */
  max-height: 80vh;
  overflow-y: auto;
  margin-left:40px;
}

.table-of-contents ul li a {
  color:#372a65;
  font-size:medium;
  font-weight:600;
}

.table-of-contents ul li a:hover {
  color:#080026;
}

.main-content{
  width:100%;
  text-align:left;
  padding: 20px 60px 80px 20px;
  margin-top:-35px;
}

.main-content h2{
  font-size:40px;;
}

.related-posts{
  text-align:left;
  width:20%;
  position: sticky;
  top: 100px; /* Stick to the top of the scrollable area */
  max-height: 80vh;
  overflow-y: auto;
}

.related-posts ul li a {
  color:#372a65;
  font-size:medium;
  font-weight:600;
}

.related-posts ul li a:hover {
  color:#080026;
}



.author-card-bottom {
  display: flex;
  align-items: center;
  margin: 20px auto; /* Add some margin for spacing */
  padding: 15px;
  border-radius: 10px; /* Add a subtle border radius */
  background-color: #fafafa; /* Light background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box-shadow for depth */
  width:800px;
  height:300px;
}

.author-portrait-bottom {
  width: 105px;
  height: 105px;
  border-radius: 50%; /* Make image circular */
  object-fit: cover; /* Ensure image fills the container */
  position:relative;
  top:-80px;
}

.author-details-wrapper-bottom {
  flex: 1; /* Allow content to expand within available space */
  margin-left: 20px;
  position:relative;
  top:-30px;
}

.author-title-bottom {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.author-designation-bottom {
  color: #888; /* Dimmer text color for designation */
  margin-bottom: 5px;
}

.author-expertise-bottom {
  font-style: italic;
  margin-bottom: 5px;
  color: #888; 
}

.contribution-meter-container-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #888; 
}

.contribution-label-bottom {
  margin-right: 10px;
  color: #888; 
}

.contribution-meter-bottom {
  width: 80px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  color: #888; 
}

.meter-fill-bottom {
  height: 100%;
  background-color: #2ecc71; /* Green for progress meter */
  transition: width 0.3s ease-in-out;  /* Add smooth transition for progress animation */
  color: #888; 
}

.contribution-count-bottom {
  margin-left: 10px;
  color: #888; 
}

.publication-date-bottom {
  color: #888; 
  font-style: italic;

}

.social-icons{
position:absolute;
margin-top:10px;
left:-15px;
}









/* ------------------------SIGNIN--------------------------------- */

.navbar-icons-signin {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left:-50px;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content: center;
}

.navbar-icons-signin>* {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content: center;
}

.icon-home{
  background-color:#ffeeee;
  height: 45px;
  width:45px;
  color:#ff3131;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content: center;
  border-radius:50%;
}

.material-icons{
padding-top:5px;
}

.main-body-signin{
  background-color:#fff;
  margin-top:120px;
  padding:20px 50px 50px 50px;
}

.signin-body{
  width:100%;
  display:flex;
}

.signin-body-left{
  width:50%;
  height:500px;;
  display:flex;
  align-items:center;
}

.signin-body-right{
  width:50%;
  height:500px;
}

.logo-signin{
margin-left:100px;
}

.logo-image-signin{
  height:272px;
  width:272px;
  border-radius:100px;
}

.login-login{
  width:430px;
  height:460px;
  background-color: #ffeeee;
  border:1px black solid;
  border-radius:16px;
}

.login-text{
  margin:20px;
  font-size:17px;
  position:relative;
  top:-10px;
}

.login-via-linkedin {
  border-radius: 5px;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
}

/* Style for the custom Google button */


.login-via-google {
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  margin:8px;
}


.google-button {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
  padding: 8px 10px;
  border-radius: 36px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  width:400px;
}

.google-button img {
  vertical-align: middle;
  margin-right: 10px;
}

.login-login-bottommost{
  text-align:center;
  justify-content:center;
  color:#000;
  font-family: sans-serif;
}

.dash {
  display: inline-block;
  width: 160px;
  background-color: #606060;
  height: 1px;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.or p {
  margin: 0 10px;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.or .dash::before,
.or .dash::after {
  content: '';
  display: inline-block;
  width: 160px;
  background-color: #606060;
  height: 1px;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.custom-email-field, .custom-password-field {
  position: relative;
  width: 400px;
  height: 40px;
  background-color: #fff; 
  border-radius: 36px;
  padding: 20px;
  margin:3px;
  border:1px solid transparent;
}

.custom-email-field::placeholder, .custom-password-field::placeholder {
  color: #000; 
  font-family: sans-serif; 
  text-align: left; 
  opacity: 1; 
  font-size:larger;
}

/* Force background color to be white for autofilled fields */
.custom-email-field:-webkit-autofill,
.custom-password-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.error-message{
  color:red;
  margin:10px;
}

.login-btn{
  width: 400px;
  height: 40px;
  background-color: #ff3131; 
  border-radius: 36px;
  padding: 20px;
  margin:3px;
  border:1px solid transparent;
  color:#000;
  display:inline-flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  font-size:14px;
  font-weight:bold;
}

.signup-login{
  margin-top:55px;
  width:430px;
  height:120px;
  background-color:#ffeeee;
  border:1px black solid;
  border-radius:16px;
}

.signup-btn{
  display:inline-flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  margin:-15px 0 0 14px;
}