
  .blog {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  
  .blog-head {
    position: relative;
    justify-content:center;
    align-items:center;
    height:130vh; 
  }

  .blogCover{
    justify-content:center;
    align-items:center;
    display: flex;
  }
  
  .blog-head img {
    width:1200px;
    height: 500px;;
    object-fit: cover;
    justify-content:center;
    align-items:center;
    max-width: 100%;
    max-height:100%;
  }
  
  h1,
  p {
    margin: 0;
    color: #fff;
  }
  
  h1 {
    font-size: 2.9em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .header-content{
    margin-top:30px;
    width:1200px;
  }
  
.author-card{
    margin:20px;
    display:flex;
  }

  .author-card-info{
    margin-left:-15px;
  }

  .author-info{
    color:#d7d7d7;
  }

  .topics{
    display:flex;
    width:100%;
  }
  
  .tag{
    position:relative;
    top:100px;
    left:-400px;
    border-radius:30px;
    background-color:#fff;
    margin-left:20px;
    padding:10px;
    width:150px;
    height:40px;
    text-align:center;
    justify-content: center;
    align-items:center;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .tag p{
    color:#ff3131;
    text-transform: lowercase;
  }

  .date-of-blog{
    position:relative;
    top:160px;
    left:-710px;
  }

  .blog-content-bottom {
    flex: 1;
    display: flex;
    background-color: #fff;
  }

  .blog-content-bottom p {
    color:black;
    text-align:justify;

}

.content-wrapper{
  display:flex;
  margin:0 30px;
  width:100%;
}

.table-of-contents{
  width:20% ;
  text-align:left;
  position: sticky;
  top: 100px; /* Stick to the top of the scrollable area */
  max-height: 80vh;
  overflow-y: auto;
  margin-left:40px;
}

.table-of-contents ul li a {
  color:#372a65;
  font-size:medium;
  font-weight:600;
}

.table-of-contents ul li a:hover {
  color:#080026;
}

.main-content{
  width:100%;
  text-align:left;
  padding: 20px 60px 80px 20px;
  margin-top:-35px;
}

.main-content h2{
  font-size:40px;;
}

.related-posts{
  text-align:left;
  width:20%;
  position: sticky;
  top: 100px; /* Stick to the top of the scrollable area */
  max-height: 80vh;
  overflow-y: auto;
}

.related-posts ul li a {
  color:#372a65;
  font-size:medium;
  font-weight:600;
}

.related-posts ul li a:hover {
  color:#080026;
}



.author-card-bottom {
  display: flex;
  align-items: center;
  margin: 20px auto; /* Add some margin for spacing */
  padding: 15px;
  border-radius: 10px; /* Add a subtle border radius */
  background-color: #fafafa; /* Light background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box-shadow for depth */
  width:800px;
  height:300px;
}

.author-portrait-bottom {
  width: 105px;
  height: 105px;
  border-radius: 50%; /* Make image circular */
  object-fit: cover; /* Ensure image fills the container */
  position:relative;
  top:-80px;
}

.author-details-wrapper-bottom {
  flex: 1; /* Allow content to expand within available space */
  margin-left: 20px;
  position:relative;
  top:-30px;
}

.author-title-bottom {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.author-designation-bottom {
  color: #888; /* Dimmer text color for designation */
  margin-bottom: 5px;
}

.author-expertise-bottom {
  font-style: italic;
  margin-bottom: 5px;
  color: #888; 
}

.contribution-meter-container-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #888; 
}

.contribution-label-bottom {
  margin-right: 10px;
  color: #888; 
}

.contribution-meter-bottom {
  width: 80px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  color: #888; 
}

.meter-fill-bottom {
  height: 100%;
  background-color: #2ecc71; /* Green for progress meter */
  transition: width 0.3s ease-in-out;  /* Add smooth transition for progress animation */
  color: #888; 
}

.contribution-count-bottom {
  margin-left: 10px;
  color: #888; 
}

.publication-date-bottom {
  color: #888; 
  font-style: italic;

}

.social-icons{
position:absolute;
margin-top:10px;
left:-15px;
}









/* ------------------------SIGNIN--------------------------------- */

.navbar-icons-signin {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left:-50px;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content: center;
}

.navbar-icons-signin>* {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content: center;
}

.icon-home{
  background-color:#ffeeee;
  height: 45px;
  width:45px;
  color:#ff3131;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content: center;
  border-radius:50%;
}

.material-icons{
padding-top:5px;
}

.main-body-signin{
  background-color:#fff;
  margin-top:120px;
  padding:20px 50px 50px 50px;
}

.signin-body{
  width:100%;
  display:flex;
}

.signin-body-left{
  width:50%;
  height:500px;;
  display:flex;
  align-items:center;
}

.signin-body-right{
  width:50%;
  height:550px;
}

.logo-signin{
margin-left:100px;
}

.logo-image-signin{
  height:272px;
  width:272px;
  border-radius:100px;
}

.login-login{
  width:430px;
  height:410px;
  background-color: #ffeeee;
  border:1px black solid;
  border-radius:16px;
}

.login-text{
  margin:20px;
  font-size:17px;
  position:relative;
  top:-10px;
}

.login-via-linkedin {
  border-radius: 5px;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
}

/* Style for the custom Google button */


.login-via-google {
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  margin:8px;
}


.google-button {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
  padding: 8px 10px;
  border-radius: 36px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  width:400px;
}

.google-button img {
  vertical-align: middle;
  margin-right: 10px;
}

.login-login-bottommost{
  text-align:center;
  justify-content:center;
  color:#000;
  font-family: sans-serif;
}

.dash {
  display: inline-block;
  width: 160px;
  background-color: #606060;
  height: 1px;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.or p {
  margin: 0 10px;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.or .dash::before,
.or .dash::after {
  content: '';
  display: inline-block;
  width: 160px;
  background-color: #606060;
  height: 1px;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.custom-email-field, .custom-password-field {
  position: relative;
  width: 400px;
  height: 40px;
  background-color: #fff; 
  border-radius: 36px;
  padding: 20px;
  margin:3px;
  border:1px solid transparent;
}

.custom-email-field::placeholder, .custom-password-field::placeholder {
  color: #000; 
  font-family: sans-serif; 
  text-align: left; 
  opacity: 1; 
  font-size:larger;
}

/* Force background color to be white for autofilled fields */
.custom-email-field:-webkit-autofill,
.custom-password-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.error-message{
  color:red;
  margin:10px;
}

.login-btn{
  width: 400px;
  height: 40px;
  background-color: #ff3131; 
  border-radius: 36px;
  padding: 20px;
  margin:3px;
  border:1px solid transparent;
  color:#000;
  display:inline-flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  font-size:14px;
  font-weight:bold;
}

.signup-login{
  margin-top:55px;
  width:430px;
  height:120px;
  background-color:#ffeeee;
  border:1px black solid;
  border-radius:16px;
}

.signup-btn{
  display:inline-flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  margin:-15px 0 0 14px;
}


/* ------------------CONTACT INFO PAGE------------------- */

.contactus-main{
  background-color:#fff;
  padding-top:90px;
}

.container-contact {
  display: flex;
  padding:0 30px 0 30px;
  margin-top:-60px;
}

.map{
  width:50%;
}

.contact-info {
  width: 600px;;
  box-sizing: border-box;
  background-color: #ffeeee;
  margin-left:100px;
  align-items:center;
  text-align:center;
  justify-content:center;
  border-radius:10px;
}

.info{
  text-align:left;
  margin-left:100px;
  margin-top:20px;
  margin-bottom:20px;
}

.contact-info p {
  color:#000;
}
.enquiry-form {
  width: 100%;
  max-width: 400px; /* Adjust width as needed */
  margin: 20px auto;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.enquiry-form input[type="text"],
.enquiry-form input[type="email"],
.enquiry-form textarea {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size:medium;
}
.enquiry-form textarea {
  height: 100px;
}
.enquiry-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size:medium;
}
.enquiry-form input[type="submit"]:hover {
  background-color: #0056b3;
}



.creategroup-main{
  background-color:#f4dddd;
  width:100%;
  height:100%;
  border:1px solid black;
  border-radius:18px;
  padding:10px 10px 0 40px;;
}

.creategroup-coverimg{
  margin-top:20px;
  border:1px solid transparent;
  border-radius:23px;
  width:80%;
  height:200px;
  background-color:black;
}

.form{
  margin-top:500px;
}


/* ___________EVENTS ____________________ */

.search-form {
  position: relative;
  margin:5px 0 0 0 ;
}

.search-form input[type="text"] {
    width: 270px;
    height:30px;
    border: 4px solid transparent;
    border-radius: 16px;
    outline: none;
    padding:0 10px;
} 
.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px; /* Adjust based on icon size */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-search {
  color:#ff3131;
}

.fa-notification{
  color:#fff;
  width:30px;
  height:auto;
  z-index:9;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item-search {
  margin-right: 10px; 
}

.main-body-events{
  background-color:#dbdada;
}

.events-main{
  background-color:#dbdada;
  height:max-content;
  width:100%;
  padding:0px 50px 30px 50px;
}

.events-section-main{
  display:flex;
  text-align:center;
  justify-content:center;
  z-index:99;
  height:100%;
  width:100%;
  margin:30px 0;

}

.events-section-all{
  margin-top:20px;
}

.active-events{
  width:1000px;
  height:auto;
  background-color:#ffeeee;
  border-radius:36px;
  margin:-10px 10px 40px 10px;
  padding:10px 0;
}

.container-events {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

a{
  text-decoration:none;
}

.participate-button{
  text-decoration:none;
}

.card-events {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; 
    overflow: hidden; /* Ensure the image stays within the card */
}

.card-events:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.card-events:hover .card-events-header {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.event-cover-image {
  width: auto;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s;
  overflow:hidden;
}

.card-events:hover .event-cover-image {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.card-events-header {
  position: relative;
  overflow: hidden;
  width:100%;
  height:70%;
}

.card-events-footer {
  padding: 10px; 
  display:flex;
  flex-direction: row;
  align-items:center;
  width:100%;
  height:30%;
  text-align:left;
  justify-content:center;
}

.card-events-footer-content{
  width:80%;
  height:100%;
}

.card-events p {
  color: #000;
  text-align:left;
  font-size:small;
  line-height:1;
}

/* .date-of-event{
  font-weight:bold;
  font-size:10.5px;
}

.title-of-event, .venue-of-event{
  font-size:18px;
} */

.events-search{
  width:300px;
  height:max-content;
  background-color:#ffeeee;
  border-radius:16px;
  margin:10px;
  padding:20px;
}

.event-search-form input[type="text"] {
  height:60px;
  width:260px;
  border: 1px solid #000;
  border-radius: 36px;
  outline: none;
  margin-top:20px;
  padding:5px 30px;
  font-size:20px;
  font-weight:normal;
} 

.searched-events{
  text-align:left;
}

.searched-events-list{
  display:flex;
  flex-direction:row;
  text-align:center;
  align-items:center;
  /* margin:5px; */
  gap:15px;
}

.event-icon{
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.event-icon a{
  font-size:25px;
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.event-icon a i{
  font-size:30px;
}

.participating{
  background-color: #2ECC71; 
  color: #ffeeee;   
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  padding-bottom:-5px;
}

.not-participating{
  background-color: #0055A9; 
  color: #ffeeee;   
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.delete{
  background-color: #ff0000; 
  color: #ffeeee;   
  width:40px;
  height:40px;
  border-radius:50%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.searched-event-interested-btn{
  border:none;
  border-radius:36px;
  width:100px;
  height:45px;
  background-color:#ff3131;
  font-size:15px;
  cursor:pointer;
}

.events-create{
  width:300px;
  height:max-content;
  background-color:#ffeeee;
  border-radius:16px;
  margin:10px;
  padding:20px;
}

#create-event-btn{
  border:none;
  border-radius:36px;
  width:200px;
  height:50px;
  background-color:#ff3131;
  font-size:18px;
  cursor:pointer;
  color:#000;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.alert-danger ul li {
  list-style-type: disc;
}

/* ----------------POPUP----------------------- */

.modal{
  margin-top:80px;
  width:100%;
  min-width:100%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.modal-content{
  min-width:1300px;
  margin:0 0 0 -400px;
}

.modal-body{
  min-height:560px;
  height:560px;
  background-color: #ffeeee;

}

.form-group{
  margin:5px;
  padding:5px;
  display:flex;
}

.modal-body label{
  margin:5px;
}

#id_description, #id_additional_instructions {
    height: 100px; 
    resize: vertical;
}

.location, .category, .organizer, .contact, .image, .tags, .reg, .regD, .addIns {
  position:relative;
}

.category{
  top:-65px;
  left:425px;
}

.organizer{
  left:500px;
  top:-65px;
}

.contact{
  left:-870px;
  top:20px;
}

.image{
  top:-42px;
  left:425px;
}

.tags{
  left:970px;
  top:-100px;
}

.reg{
  left:-440px;
}

.regD{
  left:-500px;
}

.addIns{
  top:-100px;
  left:860px;
}

.create-btn{
  position:relative;
  top:-100px;
  width:100px;
  padding:5px;

}

#id_title, #id_description, #id_date_and_time, #id_location, #id_category, #id_organizer, #id_contact_email, #id_image, #id_tags , #id_registration_required, #id_registration_deadline, #id_additional_instructions {
  padding:10px;
  border-radius:5px;
}



/* ---------SIGNUP */

.main-body-signup{
  background-color:#fff;
  margin-top:110px;
  padding:20px 50px 50px 50px;
}

.signup-body{
  width:100%;
  display:flex;
  justify-content:space-between;
}

.signup-body-left{
  width:50%;
  height:550px;;
  display:flex;
  align-items:center;
}

.sign-up-main{
  width:590px;
  height:560px;
  border:1px solid black;
  border-radius:16px;
  background-color:#ffeeee;
}

.sign-up-main p{
  padding:15px 30px;
}

.signup-buttons{
  width:500px;
  height:80px;
  margin:-15px auto;
  padding:auto;
}

.google-button-signup {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
  padding: 8px 10px;
  border-radius: 36px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  width:450px;
}

.form{
margin-top:-20px;
margin-left:55px;
}

.pass-rules ul li{
  font-size:x-small;
}

.pass-rules ul ul {
  list-style-type: square;
  margin-left: 20px; 
}

#id_email_signup{
  width:450px;
  height:40px;
  border: 1px solid transparent;
  padding: 8px 20px;
  border-radius: 36px;
  font-size:large;
  color:#000;
}

#id_password1{
  width:450px;
  height:40px;
  border: 1px solid transparent;
  padding: 8px 20px;
  border-radius: 36px;
  font-size:large;
  color:#000;
}

#id_password2{
  width:450px;
  height:40px;
  border: 1px solid transparent;
  padding: 8px 20px;
  border-radius: 36px;
  font-size:large;
  color:#000;
}

.signup-btn-signup{
  width: 200px;
  height: 40px;
  background-color: #ff3131; 
  border-radius: 36px;
  padding: 20px;
  margin:3px 0 3px -30px;
  border:1px solid transparent;
  color:#000;
  display:inline-flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  font-size:14px;
  font-weight:bold;
}

.signup-body-right{
  width:30%;
  height:200px;
  display:flex;
  text-align:center;
}

.signup-login-signup{
  width:350px;
  height:120px;
  background-color:#ffeeee;
  border:1px black solid;
  border-radius:36px;
  position:relative;
}

.login-text-signup{
  margin:20px;
  font-size:17px;
  position:relative;
  top:-10px;
}

.login-btn-signup{
  width: 250px;
  height: 40px;
  background-color: #ff3131; 
  border-radius: 36px;
  padding: 20px;
  margin-top:-10px;
  border:1px solid transparent;
  color:#000;
  display:inline-flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  font-size:14px;
  font-weight:bold;
}