<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="groupSearchAndList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
  <div class="gslpage" style="background-color: grey;height:100vh;">

    
    <!-- navbar -->
    <div class="navpg1" style="background-color: grey;">
        <div class="navbarpg1">
          <div class="leftnavpg1">
              <img src="img1.jpg" alt="logo..." style="margin-right: 1.5vw; ">
              <h3>College Connect</h3>
          </div>
          
  
          <div class="rightnavpg1">
              <input type="text" style="padding-inline: 2vw; border-radius: 1rem; height: 3.5vh;width:15vw; border:none;">
              <i class="fas fa-search"></i>
              <i class="fa-solid fa-bell" style="margin-right: 1vw; color:white; font-size:1.5vw; cursor: pointer;"></i>
              <img src="img1.jpg" alt="dp...">
          </div>
        </div>
      </div>
      <!-- Navbar end -->

      <h1 style="margin:1vh 2.5vw; font-size: 2.3rem;">Groups</h1>
      <div class="gsl" style="display:flex;justify-content:space-evenly;">
        <div class="gslcol1">
            <div class="gslc1row">
                <p>Joined Groups</p>
                <div class="gslcards">
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="gslc1row">
                <p>Created Groups</p>
                <div class="gslcards">
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    <div class="gslcard">
                        <img src="img1.jpg" alt="">
                        <div class="gslcardgrpname">
                            <i class="fa-solid fa-user-group grpicon"></i>
                            <p>Group name</p>
                        </div>
                        <p>80,000 members</p>
                        <div class="gslcardsymbolscol1">
                            <i class="fa-solid fa-bell" style="margin-right: 1vw; cursor: pointer;"></i>
                            <i class="fa-sharp fa-solid fa-volume-xmark"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="gslcol2" style="width:25%; height:80vh;">
            <div class="searchgrpspg1" style="padding:2vw 3vw;margin-bottom:2vh;background-color: pink; border-radius: 1rem;">
                <p style="font-size:1.5rem;margin-left: 0.3vw;margin-bottom: 2vh;">Search Groups</p>
                <input type="text" placeholder="Enter the group code" style="border-radius:3rem; padding:2vh;width:90%; margin-bottom:2vh;">
                <div class="grpnamecol3pg1" style="border:2px solid black;display:flex;align-items: center;border-radius: 3rem;padding-top:0.5vh;padding-bottom:0.5vh;justify-content: space-between;margin-bottom:3vh;">
                  <i class="fa-solid fa-user-group grpicon" style="width:2vw;height:2vw;font-size: 1.5vw;" ></i>
                  <p>Group Name</p>
                  <button style="background-color: red;width:5vw; height:5vh;border-radius:3rem;font-weight: bold;margin-right: 0.3vw;">Join</button>
                </div>
            </div>

            <div class="creategrppg1" style="background-color: pink; border-radius: 1rem;text-align: center;padding:2vw; margin-bottom:2vh;">
                <button id="open-modal" style="background-color: red;width:15vw; height:6vh;border-radius:3rem;font-weight: bold;">Create Group</button>
                <!-- Vertically centered modal -->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <div class="modal1pg1">
                      <h2 style="margin-bottom:2vh;margin-left:-1vw;">Create Group</h2>
                      <span class="close">&times;</span>
                    </div>
                    <div class="covermodalpg1" style="width:100%; height:25vh;background-color: red;border-radius: 1rem;position:relative;">
                      <!-- coverimage and other contents inside it -->
                      <img src="dpimg.jpg" alt="" style="width:100%;height:100%;border-radius:1rem;position:relative;">
                      <div class="dpimgmodalpg1" style="position:absolute; right:50vw;top:8vw;">
                        <div style="position: relative; display: inline-block;">
                        <img src="img1.jpg" alt="" style="width:4vw;height:4vw;border-radius:5rem;">
                        <i class="fa-sharp fa-solid fa-pen" style="position: absolute; right: -0.6vw; top: 2.5vw;border-radius:5rem;color:rgb(50, 179, 222);width:2vw;height:2vw;"></i>
                        </div>
                      </div>
                      
                    </div>
    
                    <i class="fa-sharp fa-solid fa-pen" style="position: absolute; right: 23.4vw; top: 12vw;border-radius:5rem;color:rgb(50, 179, 222);width:2vw;height:2vw;"></i>
    
                    <div class="grpnametagsmodalpg1" style="display: flex; align-items: center; justify-content: space-between;padding:1vw;">
                      <div class="grpnamemmodalpg1">
                        <p>Group Name*</p>
                        <input type="text">
                      </div>
                      <div class="tagsmodalpg1">
                        <p>Tags*</p>
                        <input type="text">
                      </div>
                    </div>
    
                    <div class="descriptionbuttonmodalpg1" style="display:flex; justify-content: space-between; align-items: center;padding:1vw;">
                      <div class="descmodalpg1" style="display:flex;flex-direction: column;text-align: start;">
                        <p>Group Description*</p>
                        <input type="text" style="border-radius:1rem; height:20vh;width:24vw;margin-top: 0.8vh;">
                      </div>
                      <div class="buttonmodalpg1" style="display:flex;align-items: center; justify-content: center;padding-right:7vw;">
                        <button style="background-color: red;width:12vw; height:6vh;border-radius:1rem;font-weight: bold;font-size: 1.2rem;">Create</button>
                      </div>
                    </div>
    
                  </div>
                </div>
              </div>
    
    
              
        </div>
      </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("open-modal");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x) or the close button inside the modal, close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        
        
    </script>
</body>
</html>